* { 
    margin: 0; 
    padding: 0; 
}

/* cadastro de usuário */
#principal-add { 
    width: 80%; 
    margin: 0 auto; 
}

#principal { 
    width: 70%; 
    margin: 0 auto; 
}

#principal h2 { 
    text-align: center; 
}

